# Python 
## Part 4
### Section 27

In [2]:
# Defining a python in function
def simple():
    # Always want to indent your function body
    print("My first function")

In [3]:
# We must call the function
simple()

My first function

In [4]:
# Creating a function with a parameter
def plus_ten(a):
    # you need to remember to return a value
    return a + 10

In [5]:
plus_ten(5)

15

In [6]:
# 2 is an argument, but above a is a parameter
plus_ten(2)

12

In [9]:
# You can create new variables within your function 
def plus_ten(a):
    result = a + 10
    print('Outcome')
    return result

In [10]:
plus_ten(2)

Outcome

12

In [12]:
# You can call a function within a function
def wage(w_hours):
    return w_hours * 25

def with_bonus(w_hours):
    return wage(w_hours) + 50

In [13]:
wage(8), with_bonus(8)

(200, 250)

In [14]:
# Working with conditionals
def add_ten(m):
    if m >= 100:
        m = m + 10
        return m
    else:
        return "Save more!"

In [15]:
add_ten(110)

120

In [16]:
add_ten(50)

'Save more!'

In [17]:
# You can pass more than one parameter into a function
def subtract_bc(a,b,c):
    result = a - b * c
    print("Parameter a equals", a)
    print("Parameter b equals", b)
    print("Parameter c equals", c)
    return result

In [18]:
subtract_bc(10, 3, 2)

Parameter a equals 10
Parameter b equals 3
Parameter c equals 2

4

In [19]:
subtract_bc(b = 3, a = 10, c = 2)

Parameter a equals 10
Parameter b equals 3
Parameter c equals 2

4

In [20]:
# Python has already pre built in functions
type(1)

int

In [21]:
int(5.0)

5

In [22]:
float(3)

3.0

In [23]:
str(500)

'500'

In [24]:
# Returns the highest number of a sequence of numb ers
max(10, 5, 3)

10

In [25]:
# Returns the min of a sequence of numbers
min(10, 5, 3)

3

In [26]:
# returns the absolute value
z = -20
abs(z)

20

In [27]:
# calculate the sum of all elements
list_1 = [1,2,3,4]
sum(list_1)

10

In [28]:
# round can round to a certain number of digits
round(3.555, 2)

3.56

In [29]:
# Otherwise just rounds
round(3.2)

3

In [30]:
# You can raise numbers to power like below
print(2 ** 10)
print(pow(2,10))

1024
1024

In [31]:
# length returns the number of elements in an object
len('Mathematics')

11

### Section 29

In [33]:
# Iteration is necessary in all coding practices
even = [0,2,4,6,8,10,12,14,16,18,20]
for n in even: 
    # This places a distance of 
    print(n, end = " ")

0 2 4 6 8 10 12 14 16 18 20

In [35]:
# We can use a while loop instead of a for loop
x = 0
while x <= 20:
    print(x, end = " ")
    # This is called incrementing
    x = x + 2

0 2 4 6 8 10 12 14 16 18 20

In [36]:
# We can build a python range object using the range(start, stop, step) function
range(10) # range(0, 10, 1)

range(0, 10)

In [37]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
range(3, 7) # range(3, 7, 1)

range(3, 7)

In [39]:
list(range(1, 20, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [42]:
for n in range(10):
    # the ** raises 2 to the n
    print (2 ** n, end = " ")

1 2 4 8 16 32 64 128 256 512

In [41]:
for x in range(20):
    # modulo function tests if a number leaves a remainder of 0 when divided by 2
    if x % 2 == 0:
        print (x, end = " ")
    else:
        print ("Odd", end = " ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [43]:
x = [0,1,2]

# this form of a for loop goes through an item in a list
for item in x:
    print(item, end = " ")

0 1 2

In [44]:
x = [0,1,2]

# this form of a for loop goes through all of the indexes of a list
for item in range(len(x)):
    print(x[item], end = " ")

0 1 2

In [45]:
def count(numbers):
    # total is what's referred to as a rolling sum
    total = 0
    for x in numbers:
        # This will return the number of numbers less than 20
        if x < 20:
            total += 1
    return total

In [46]:
list_1 = [1,3,7,15,23,43,56,98,17]

In [47]:
count(list_1)

5

In [48]:
# defining two dictionaries with similar keys
prices = {
    "box of spaghetti": 4, 
    "lasagna": 5,
    "hamburger": 2
}

quantity = {
    "box of spaghetti": 6,
    "lasagna": 10,
    "hamburger": 0
}

In [51]:
money_spent = 0

for i in prices:
    # This will iterate over all indeces in dictionaries and multiply
    # quantity by price
    money_spent = money_spent + (prices[i] * quantity[i])
print(money_spent)

74